* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #363636;
    
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    min-height: 100%;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
    border-bottom: 1px solid #D4D4D4;
}

.logo-film {
    margin-left: 34px;
    margin-right: 34px;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #D4D4D4;
}

.search-input {
    background-image: url('../img/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center left;
    border: none;
    padding-left: 38px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 34px;
    
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-radius: 10px;
    background-color: #fafafa;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navigation-link {
    position: relative;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.navigation-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s;
}

.navigation-link:hover:after {
    transform: scaleX(1);
}

.button-group {
    height: 100%;
}

header button {
    padding-left: 34px;
    padding-right: 34px;
    font-size: 18px;
    line-height: 21px;
    border: none;
    height: 100%;
    min-height: 96px;
    outline: none;
    cursor: pointer;
}

.sign-up {
    color: #5671F6;
    background-color: #fff;
    border-left: 1px solid #D4D4D4;
}

.entry {
    color: #fff;
    background-color: #5671F6;
    padding-left: 34px;
    padding-right: 34px;
}

/* SECTION FILM */

.film {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
    display: flex;
}

/* film left side */

.film-trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.poster {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 358px;
    cursor: pointer;
}

.trailer-button {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trailer-button-icon {
    margin-right: 14px;
}

.trailer-button-text {
    color: #5671F6;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

/* film rightn side */

.film-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-film {
    display: flex;
    margin-bottom: 50px;
}

.about-text {
    display: flex;
    margin-bottom: 16px;
}

.film-title {
    font-size: 37px;
    line-height: 43px;
    font-weight: 900;
    margin-bottom: 16px;
}

.film-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #A5A5A5;
    margin-bottom: 32px;
}

.film-description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    margin-bottom: 50px;
    max-width: 514px;
}

.left-side {
    margin-right: 40px;
}

.about-text-bold {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.about-text-reg {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

/* film rating */

.rating {
    display: flex;
    align-items: center;
}

.rating-counter {  
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: #5671F6;
    
    border: 1px solid #5671F6;
    border-radius: 15px;
    margin-right: 28px;
}

.rating-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
}

.rating-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}

.rating-text {
    display:  block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
}

/* SECTION ACTORS */

.cast {
    padding-top: 70px;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    align-items: center;
}

.section-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
    cursor: pointer;
}

.section-title.active {
    font-weight: 900;
    color: #363636;
}

/* cards */

.tabs {
    margin-bottom: 60px;
}

.tabs-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    margin-bottom: 6px;
}

.en-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
}

/* SECTION NEWS */

.section-news {
    padding-top: 70px;
    padding-bottom: 100px;
    background: #F3F3F3;
}

.section-news-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-bottom: 65px;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.news-card {
    flex-basis: 23%;
    background-color: #fff;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
}

.news-card:last-child {
    margin-right: 0;
}

.news-card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    display: inline-block;
    margin-bottom: 14px;
}

.news-card-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
